.TextField {
	padding: 7px;
}

.TextField__input {
	font: 13px Arial;
	width: 100%;
	height: 100%;
	order: 0;
	padding: 5px;
	display: block;
	color: #00BCD4;
	outline: none;
	border: 1px solid #56ffd8;
	background-color: transparent;
	box-shadow: none;
	transition: box-shadow 0.3s;
	border-radius: 7px;
}

.TextField__input-focus {
	box-shadow: 0 0 18px 3px #00BCD4;
}

.TextField__label {
	font: 13px Arial;
	position: absolute;
	order: 1;
	pointer-events: none;
	padding: 5px;
	display: block;
	color: #00BCD4;
	background-color: transparent;
	transition: color 0.5s;
}

.TextField__label-hide {
	color: transparent;
}
